.main {
    min-height: 100dvh;
}

.confirm-container{
    width: 100%;
    background-color: var(--secondary-bg);
    color: var(--secondary-color);
    padding: 2rem 1rem;
    border-radius: .5rem;
    padding-bottom: 4rem;
}

.heading {
    text-align: center;
}

.confirm-msg{
    text-align: center;
    padding: 3rem 2rem;
    border-radius: .6rem;
    font-weight: 800;
    color: var(--primary-color);
    background-color: var(--primary-bg);
    margin-top: 2rem;
}

/* Tablet (768px+) */
@media (min-width: 768px) {
    .confirm-container {
        width: 70%;
    }
}

/* Desktop (1024px+) */
@media (min-width: 1024px) {
    .confirm-container {
        width: 40%;
    }
}