* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    /* 1rem = 10px */
}

body {
    font-size: 1.6rem;
    /* 16px */
    font-family: sistema;
}

.layout {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100dvh;
}

.layout__header {}

.layout__main {
}

.layout__footer {}